/* 这种高级动画逻辑保留在全局，作为通用工具类 */
.animated-underline {
  position: relative;
  text-decoration: none;
}

.animated-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%; /* 从中间开始 */
  transform: translateX(-50%);
  background-color: #ff9a9e;
  transition: width 0.3s ease;
}

.animated-underline:hover::after {
  width: 100%;
}
